$std-font: Arial, sans-serif;
$std-font-size: 1em;
$std-color: #333;
$default-bg-color: rgb(253, 250, 250);

$white-color: #FFF;
$shadow-color: #ddd;

$color-danger-pc: #E57373;
$color-danger-sc: #EF5350;
$color-warning-pc: #FF5722;
$color-warning-sc: #F4511E;
$color-info-pc: #2196F3;
$color-info-sc: #1E88E5;
$color-submit-pc: #4CAF50;
$color-submit-sc: #43A047;
$color-cancel-pc: #212121;
$color-cancel-sc: #EEEEEE;